<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="test-news">
    <meta name="twitter:card" content="{% block twitter_card %}summary{% endblock %}" />
    <meta name="twitter:site" content="@news" />
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}" />
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock %}" />
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% endblock %}" />
    <meta name="og:description" content="{% block og_description %}{% endblock %}" />
    <!-- Microsoft tags -->
    <meta name="application-name" content="NEWS"/>
    <meta name="msapplication-TileColor" content="#18BC9C"/>
    <!-- End Microsoft tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}
    {% endblock %}

</head>
    <body>

    <div class="container-fluid">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Some footer information. Copyrights .... {% now "SHORT_DATETIME_FORMAT" %}</span>
        </div>
    </footer>

    </body>
</html>
