{% extends 'base.html' %}

{% load static %}

{% for item in one_news %}

    {% block meta_title %}{{ item.title }}{% endblock %}
    {% block meta_description %}{{ item.short_description }}{% endblock %}
    {% block meta_keywords %}{{ item.keywords }}{% endblock %}
    {% block twitter_title %}{{ item.title }}{% endblock %}
    {% block twitter_description %}{{ item.short_description }}{% endblock %}
    {% block twitter_image %}{{ request.scheme }}://{{ request.get_host }}{% get_media_prefix %}{{ item.image.url }}{% endblock %}
    {% block og_title %}{{ item.title }}{% endblock %}
    {% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% get_media_prefix %}{{ item.image.url }}{% endblock %}
    {% block og_description %}{{ item.short_description }}{% endblock %}

{% endfor %}

{% block content %}
    {% for item in one_news %}
        <div class="row">
            <div class="col-11 mx-auto">
                <h1> {{ item.title }} </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-11 mx-auto news-image">
                <img class="card-img-top" src="
                    {% if item.image %}{{ item.image.url }}{% endif %}" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-11 mx-auto">
                <p class="text-muted">{{ item.public_date|date:"d F o" }}</p>
                <p>
                    {{ item.text|safe }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

