{% extends 'base.html' %}

{% load static %}

{% block meta_title %}News list{% endblock %}
{% block meta_description %}The latest news from different countries{% endblock %}
{% block meta_keywords %}News{% endblock %}
{% block twitter_title %}News list{% endblock %}
{% block twitter_description %}The latest news from different countries{% endblock %}
{% block twitter_image %}{{ request.scheme }}://{{ request.get_host }}{% endblock %}
{% block og_title %}News list{% endblock %}
{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% endblock %}
{% block og_description %}The latest news from different countries{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-11 mx-auto">
                <h1> Latest news </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-11 mx-auto">
                <div class="card-columns">
                    {% for item in news %}
                        <div class="card">
                            <a href="{% url 'news_detail' item.id %}">
                                <img class="card-img-top" src="
                                    {% if item.image %}{{ item.image.url }}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                            </a>
                            <div class="card-body">
                                <a href="{% url 'news_detail' item.id %}">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                </a>
                                <p class="text-muted">{{ item.public_date|date:"d F o" }}</p>
                                <p class="card-text">{{ item.short_description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
